<a href="https://colab.research.google.com/github/DATA3320/Weekly/blob/main/Lecture04_workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 4 Workbook

### 1.

Create a function `website()` that grabs the website domain from a url string. For example, if your function is passed `"www.google.com"`, it should return `"google"`.

In [2]:
def website(url):
    domain = url.split(".")[1]
    return domain

print(website("www.google.com"))

google

### 2.

Create a function `divisible(a, b)` that accepts two integers (`a` and `b`) and returns `True` if `a` is divisble by `b` without a remainder. For example, `divisible(10, 3)` should return `False`, while `divisible(6, 3)` should return `True`.

In [3]:
def divisible(a, b):
    if a % b == 0:
        return True
    return False

print(divisible(10, 3))
print(divisible(6, 3))

False
True

### 3.

For the following list of names, creates a list of *only* words that start with a capital letter (hint: `str.isupper()`).

In [4]:
names = ['Steve Irwin', 'koala', 'kangaroo', 'Australia', 'Sydney', 'desert']


upperList = []
# Your answer here.
for name in names:
    if name[0].isupper():
        upperList.append(name)

upperList

['Steve Irwin', 'Australia', 'Sydney']

### 5.

Create a function `lucky_sum()` that takes all the integers a user enters and returns their sum. *However*, if one of the values is 13 then it does not count towards the sum, nor do any values to its right.

For example, your function should behave as follows:

```python
lucky_sum(1, 2, 3, 4)
10

lucky_sum(1, 13, 3, 4)
1

lucky_sum(13)
0
```

In [14]:
def lucky_sum(*args):
    sum = 0
    for num in args:
        if type(num) is int:
           if num == 13:
               break
           sum += num
    return sum 

lucky_sum(1, 2, 3, 4)

lucky_sum(1, 13, 3, 4)

lucky_sum(13)

0

### 6.

Create a file with the title of "lecture04_1.txt". Invite users to input the following Grades Roster:

    John Smith: 89
    Mary Davis: 92
    Adam Li: 85
    Mohamed Ali: 78

(optional) Then to print the whole content of the file.

In [25]:
with open('lecture04_01.txt', 'w') as file:
    inp = '''John Smith: 89\n
Mary Davis: 92\n
Adam Li: 85\n
Mohamed Ali: 78\n'''
    file.write(inp)

file = open('lecture04_01.txt', 'r')
print(file.read())
file.close()

John Smith: 89

Mary Davis: 92

Adam Li: 85

Mohamed Ali: 78

### 7.

Read the values from "lecture04_1.txt" and write them to a new output file with a user defined title, aligned in a column and followed by their total, and average values.

In [35]:
import pandas as pd
with open('lecture04_01.txt', 'r') as f:
    lines = f.read()
    inp = input("Please title your file: ")
    df = pd.read_csv('lecture04_01.txt', sep=": ", header = None)
    df.rename(columns={0:'Name',1:'Grade'}, inplace=True)
    print(df)
    print(inp)
    df.to_csv(inp)

    f2 = open(inp, 'r+')
    total = 0
    count = 0
    lines2 = f2.readlines()
    print(lines2)
    for line in lines2:
        if count == 0:
            count += 1
            continue
        print(line)
        total += int(line.split(',')[2])
        count += 1
    average = total / count

    f2.write("Total: " + str(total)+ "\n")
    f2.write("Average: " + str(average) + "\n")
    f2.close()

          Name  Grade
0   John Smith     89
1   Mary Davis     92
2      Adam Li     85
3  Mohamed Ali     78
WOO
[',Name,Grade\n', '0,John Smith,89\n', '1,Mary Davis,92\n', '2,Adam Li,85\n', '3,Mohamed Ali,78\n']
0,John Smith,89

1,Mary Davis,92

2,Adam Li,85

3,Mohamed Ali,78

C:\Users\Jacky Huynh\AppData\Local\Temp\ipykernel_19896\2556224488.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('lecture04_01.txt', sep=": ", header = None)